<div class="nested_fields">
  <%= f.input :name %>
  <%= f.input :unit %>
  <%= f.input :quantity %>
  <%= link_to_remove_association f, class:"btn" do %>
    <i class="fa-solid fa-xl fa-square-xmark text-danger"></i>
  <% end %>
</div>
