

<div class="containerindex">
  <div class="cards">
    <div class="card1">
      <div class="card2">
      <% @categories.each do |category| %>
        <div class="card3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= category.name %></h5>
            <h2>Date : <%= @date %></h2>
            <p class="card-text"> This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
            <%= link_to "See all recipes",recipies_index_path(category.name) , class: "nav-link" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to "Add your Recipe",new_recipe_path , class: "nav-link" %>
