<ul>
    <% @ingredients.each do |ingredient| %>
      <li>
      <p> <%= ingredient.quantity %>
      <%= ingredient.unit %>
      of <%= ingredient.name %> </p>
    <% end %>
      </li>

    <%= link_to "DONE", ingredients_list_path %>
</ul>
