<h1>Salut</h1>

<div class="containerindex">
  <div class="cards">
    <div class="card2">
      <% @recipes.each do |recipe| %>
      <div class="card3">
          <%= image_tag "", alt: "Le Wagon", class: "img-book" %>
          <h2><%= recipe.name %></h2>
          <%= link_to "See recipe", recipe_path(recipe), class: "btn button-6" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
