<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
          <a href="recipes" class="avatar">
            <%= image_tag "https://res.cloudinary.com/du9ruv4nu/image/upload/v1701295547/logo_plan_eat_rqt7kp.png", class: "avatar", alt: "dropdown menu" %>
          </a>
  </div>
</div>
