<nav>
  <ul id="navbar">
    <li><%= image_tag('calendar-logo.png', alt: 'Texte alternatif') %></i></li>
    <li><%= image_tag('recipe-logo.png', alt: 'Texte alternatif') %></li>
    <li><%= image_tag('home-logo.png', alt: 'Texte alternatif', class: "active") %></li>
    <li><%= image_tag('cart-logo.png', alt: 'Texte alternatif') %></li>
    <li><i class="fa-solid fa-user"></i></li>
  </ul>
</nav>
