<div class="container">
  <h1 class="card-title-pages"><strong>PLAN-EAT</strong></h1>
  <div class="cards-pages">
      <%= image_tag 'logo_plan_eat.png', alt: 'plan-eat' %>
      <%= link_to "", recipes_path(@recipe), class: "nav-link card-link"  %>
  </div>
  <style>
      body {
        background-image: url("homebackground.jpg");
        background-size: 100%;
        background-position: center;
              background-repeat: no-repeat;
              background-attachment: fixed;
      }
  </style>
</div>
