<div class="containerpages">
  <h1 class="card-title-pages"><strong>PLAN-EAT</strong></h1>
  <div class="cards-pages">
      <%= image_tag 'logo_plan_eat.png', alt: 'plan-eat' %>
      <%= link_to "", recipes_path(@recipe), class: "nav-link card-link"  %>
  </div>
  <div class= "impact-phrase">
  <h2><strong>Plan your meal and help the planet</strong></h2>
  </div>

  <style>
      body {
        background-image: url("homebackground.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
  </style>
</div>
