// .card-category {
//   display: flex;
//   justify-content: center;
// }

.cards{
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.card{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;

}

.card3{
  background-color: #FEC0A0;
  border-radius: 15px;
  margin: 5px;
  padding: 2px; /* Espace interne dans les cellules */
  padding-top: 15px;
  text-align: center;
  height: 175px;
  width: 175px;
  position: relative /* Necessaire pour faire une carte cliquable */
}

.card3{
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.60)
}


.card4{
  background-color: #FEC0A0;
  border-radius: 15px;
  margin: 5px;
  padding: 2px; /* Espace interne dans les cellules */
  padding-top: 8px;
  text-align: center;
  height: 175px;
  width: 175px;
  position: relative /* Necessaire pour faire une carte cliquable */
}

.card4{
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.60)
}
/* Permet de faire qu'un lien prend toute une carte pour en faire une carte cliquable */
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}



@media(max-width: 992px) {
  .card2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .card2 {
    grid-template-columns: 1fr 1fr;
  }
}

.cards-recipe {
  display: grid;
  place-items: center;
  text-align: left;
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin: 20px;
}

.cards-pages {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px;
}
