.card-category {
  display: flex;
  justify-content: center;
}

.cards{
  display: flex;
  justify-content: space-evenly;
}
.card{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}

@media(max-width: 992px) {
  .card2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .card2 {
    grid-template-columns: 1fr;
  }
}
