.card-category {
  display: flex;
  justify-content: center;
}

.cards{
  display: flex;
  justify-content: space-evenly;
}
.card{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
