.containerindex {

  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;   // Pour eviter que les cartes se retrouvent coincees sous la navbar en bas
}
.containernew {
  width: 500px;
  margin: 0 auto;
  // display: flex;
  // justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

.container-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Cette propriété est ajoutée pour centrer le texte à l'intérieur des éléments h2. Vous pouvez la modifier selon vos besoins. */
  height: 100vh;
}

.img-recipe {
  max-width: 30%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
  border-radius: 20px;
  background-size: cover;
}
