.containerindex {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.containernew {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}
