// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: #FFFFFF;
  font-family: 'Gilda Display', serif;
  font-family: 'Inter', sans-serif;
}

.search_bar{
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: white;
  border-radius: 12px;
}

.search-btn{
  background-color: white;
  border-right: 0;
  color: #FEC0A0;
  border-radius: 12px 0px 0px 12px;
}

.form-control{
  background-color: white;
  border-left: 0;
}

.category {
  border-radius: 50px;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

/* cacher la console dans la page show de profile */

#console{
  display: none;
}

/* Calendar Style */

#calendar{
  margin-top: 100px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 150px;
  border-radius: 11.265px;
  background: #FFF;
  box-shadow: 0px 1.94837px 1.5587px 0px rgba(0, 0, 0, 0.02), 0px 4.68221px 3.74577px 0px rgba(0, 0, 0, 0.03), 0px 8.81619px 7.05296px 0px rgba(0, 0, 0, 0.04), 0px 15.72658px 12.58127px 0px rgba(0, 0, 0, 0.04), 0px 29.41485px 23.53188px 0px rgba(0, 0, 0, 0.05), 0px 70.40816px 56.32653px 0px rgba(0, 0, 0, 0.07);
  border: 0;
  padding: 30px;
}

.container-calendar .btn-create-planning{
  background-color: #24997F;
  color: white;
}

#calendar .fc-col-header-cell-cushion{
  padding: 10px;
}

#calendar .fc-next-button{
  background-color: #24997F;
  border: 0;
}

#calendar .fc-prev-button{
  background-color: #24997F;
  border: 0;
}

#calendar .fc-toolbar-chunk{
  display: flex;
}
/* Page de profile */

h4{
  color: #24997F;
  font-weight: 900;
}

h4 + p{
  font-weight: 700;
}

.profile-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image-thumbnail{
  border-radius: 50%;
  width: 150px;
  margin-bottom: 20px;
}

.profile-infos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
}

.main-container .btn-profile{
  background-color: #24997F;
  color: white;
}

.edit-page-profile{
  padding-bottom: 150px;
}

.edit-page-profile .btn-profile{
  background-color: #24997F;
  color: white;
}

.total-point{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.infos-points{
  border: 5px solid #24997F;
  border-radius: 10%;
  padding: 40px;
  text-align: center;
  margin-bottom: 30px;

  h2{
    color: #24997F;
    font-weight: 900;
  }

  p{
    background-color: #FD8061;
    padding: 15px;
    color: white;
    font-weight: 1000;
    border-radius: 50%;
    font-size: 50px;
    margin-bottom: 0;
  }
}

.badge-count{
  text-align: center;
  margin-top: 40px;

  h2{
    font-weight: 1000;
    color: #24997F;
  }

  img{
    width: 100px;
  }

}

.form-check {
  padding-left: 0px;
}

.list-ingredients{
  width: 100%;
  background-color: #FEC0A0;
  border-radius: 9px;
  justify-content: center;
  min-height: 570px;
  padding: 20px;
}

.ingredient{
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.16);
}

/* List all planning */
.list-plannings{
  display: flex;
  flex-direction: column;
}

.list-planning .date-list-planning{
  color: white;
}

.list-planning{
  background-color: #24997F;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
}

.list-planning .left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-planning .right{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

img.img-fluid{
  width: 70%;
}

.title-list-planning{
  display: flex;
  flex-direction: column;
}

// .img-list-planning{
//   width: 40%;
//   height: auto;
// }

.recipe-name-list-planning{
  color: black;
}

.list-planning .btn-list-planning{
  border: 1px solid white;
  border-radius: 8.459px;
}

.list-planning .btn-delete-list-planning{
  align-self: end;
  color: white;
}

/* Ingredients page */
.list-ingredients{
  padding: 10px;
}

.ingredient-li{
  margin-bottom: 8px;
}

.ingredient{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 14px
}

// .btn-ingredient-done{
//   display: flex;

// }

.btn-ingredient-done a{
  font-weight: 600;
  color: #FEC0A0;
}

a.btn-ingredient-done{

    &:hover{
    border: 0;
    background-color: #FEC0A0;
    color: white;
  }
}

.checkbox-ingredient{
  border: 4px solid greenyellow;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px; /* Espace pour l'icône ou le style personnalisé */
  cursor: pointer;
}

    /* Style du checkbox réel (masqué) */
.custom-checkbox input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

    /* Style de l'icône ou du style personnalisé */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eeeeee00; /* Couleur de fond du checkbox */
  border: 1px solid #000000; /* Bordure du checkbox */
  border-radius: 50%; /* Coins arrondis */
}

    /* Style de l'icône à l'intérieur du checkbox (optionnel) */
.custom-checkbox .checkmark:after {
  content: '\2713'; /* Caractère Unicode pour la coche (vérifiez la compatibilité du caractère) */
  font-size: 20px;
  color: #333; /* Couleur de la coche */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

    /* Style du checkbox lorsqu'il est coché */
.custom-checkbox input:checked + .checkmark {
  background-color: #2195f300; /* Nouvelle couleur de fond du checkbox lorsqu'il est coché */
  border: 1px solid #000000; /* Nouvelle bordure du checkbox lorsqu'il est coché */
}

/* Style de l'icône à l'intérieur du checkbox lorsqu'il est coché */
.custom-checkbox input:checked + .checkmark:after {
  display: block;
}

.container h1 {
  color: #24997F;
  text-align: center;
  padding-top: 150px;
}

.image-with-padding {
  padding-left: 100px;
}

.progress {

  color: #24997F;
}
