// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: #FFFFFF;
}

.search_bar{
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: white;
  border-radius: 12px;
}

.search-btn{
  background-color: white;
  border-right: 0;
  color: #FEC0A0;
  border-radius: 12px 0px 0px 12px;
}

.form-control{
  background-color: white;
  border-left: 0;
}

.category {
  border-radius: 50px;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

/* cacher la console dans la page show de profile */

#console{
  display: none;
}

/* Page de profile */

.profile-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image-thumbnail{
  border-radius: 50%;
  width: 150px;
}

.profile-infos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
}

.total-point{
  border: 1px solid #24997F;
}

.ingredients{
  width: 100%;
  background-color: #FEC0A0;
  border-radius: 9px;
  justify-content: center;
}
